.main_entidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 80px; */
  /* max-width: 70%; */
  margin: 1rem auto;
  /* background-color: #FFF; */
}

.main_entidades_title {
  font-size: 24px;
  font-weight: 600;
  margin: 1rem;
}

.main_entidades_resume {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.entidadesFilter {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.singleFilterContainer {
  margin: 15px;
  width: 200px;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
}

.singleFilterTitle {
  text-align: center;
  margin-bottom: 5px;
}

.entidadesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  margin: auto;
  margin-top: 20px;
  /* width: fit-content; */
  gap: 20px;
}

@media (max-width: 1600px) {
  .entidadesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    margin: auto;
    margin-top: 20px;
    /* width: fit-content; */
    gap: 20px;
  }
}

@media (max-width: 1250px) {
  .entidadesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin: auto;
    margin-top: 20px;
    /* width: fit-content; */
    gap: 20px;
  }
}
