.resume_container {
  background-color: #fafafa;
  padding: 80px 0 30px 0;
}

.main_resume {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main_investments {
  /* max-width: 1200px; */
  display: flex;
  justify-content: center;
  margin-top: 10px;
  /* margin: 10px auto; */
}

.main_content {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 350px);
  /* flex-wrap: wrap; */
}

.main_table_container {
  /* flex: 1; */
  width: auto;
  grid-column: span 2;
  /* margin-right: 25px;
  margin-bottom: 25px; */
}

.main_table_wrapper {
  border: 0 solid transparent;
  background-color: #fff;
  box-shadow: 0 0 0.875rem 0 rgb(33 37 41 / 5%);
  border-radius: 0.5rem;
  padding: 5px 20px 15px 20px;
  /* margin-bottom: 25px; */
  grid-column: span 2;
}

.main_table_title {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 24px;
  font-weight: 600px;
  color: #939ba2;
  /* margin-bottom: 10px; */
}

.main_table_header {
  display: flex;
}

.main_table_body {
  flex: 1;
}

.main_table_title {
  flex: 1;
  text-align: center;
}
/* .main_title {
  text-align: center;
} */
.add_investment {
  border-radius: 0.25rem;
  border: none;
  background-color: rgb(45, 178, 146);
  color: white;
  padding: 10px 15px;
  margin: 10px 0px;
  cursor: pointer;
  width: 150px;
}

@media (max-width: 1100px) {
  .main_content {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 350px);
    /* flex-wrap: wrap; */
  }
}
