.modal_invest_background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  /* filter: blur(4px); */
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal_invest_container {
  /* width: 250px; */
  /* height: 500px; */
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modal_main_content {
  display: flex;
}

.modalForm {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(17, 17, 22, 0.144);
  padding-right: 20px;
  padding-top: 15px;
}

.modalInput {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.35);
}

.modalInput:focus {
  outline: 1px solid rgb(0, 131, 203);
}

.modalSelect {
  outline: none;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(17, 17, 22, 0.144);
}

.modal_title {
  text-align: center;
  flex: 1;
  font-size: 24px;
  font-weight: 700;
}

.modal_close_container {
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
}

.btn_container {
  display: flex;
  justify-content: space-between;
}

.close_button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.modal_add_invest {
  border: none;
  width: 100%;
  border-radius: 0.25rem;
  margin: 15px 0px;
  padding: 10px 15px;
  cursor: pointer;
  color: white;
  background-color: rgb(47, 90, 233);
}

.modal_cancel_invest {
  border: none;
  width: 100%;
  border-radius: 0.25rem;
  margin: 15px 5px;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  background-color: rgb(238, 66, 66);
}

.inputTitle {
  margin-bottom: 10px;
  font-size: 14px;
}

.investment_schedule_container {
  width: auto;
  padding-left: 20px;
}
