.newProject_Wrapper {
  /* border: 1px solid rgb(196, 190, 190, 2); */
  /* box-shadow: 0 0 0.875rem 0 rgb(33 37 41 / 5%);
  border: 0 solid transparent;
  border-radius: 10px; */
  border-bottom: 1px solid red;
  padding-bottom: 20px;
  margin-bottom: 20px;
  /* padding: 10px 10px 0px 10px; */
  background-color: #fff;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); */
}

.newProject_Wrapper:last-child {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.newAlert {
  background-color: red;
  color: #fff;
  width: 60px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 5px;
}

.newProject_Logo_Container {
  display: flex;
  align-items: center;
}

.newProject_Header {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(196, 190, 190, 2);
}

.newProject_Entitie_Logo {
  height: 50px;
  width: auto;
  border-radius: 50%;
}

.newProject_Title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  flex: 1;
}

.newProject_Body {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.newProject_TasaAnual,
.newProject_Periodo {
  width: 120px;
  display: flex;
  flex-direction: column;
}

.newProjectMetric {
  text-align: center;
  margin-bottom: 5px;
  font-size: 24px;
}

.newProjectDesc {
  text-align: center;
  font-weight: 500;
}
