.post_container {
  padding: 15px;
  border: 1px solid rgb(196, 190, 190, 2);
  border-radius: 5px;
  /* width: 50%; */
  margin: 10px 0px;
}

.post_header {
  display: flex;
  justify-content: space-between;
}

.post_header_avatar {
  display: flex;
  height: 20px;
}

.avatar_image {
  border-radius: 50%;
  margin-right: 5px;
  height: 20px;
  width: 20px;
}

.avatar_username {
  align-items: center;
}

.post_footer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(196, 190, 190, 2);
  border-top: 1px solid rgb(196, 190, 190, 2);
  padding: 10px 0px 10px 0px;
}

.post_body {
  padding: 20px 0px;
}

.post_body_container {
  padding: 20px 0px 0px 0px;
}
.post_view {
  margin-right: 15px;
}

.post_count {
  cursor: pointer;
}

.post_show_comments {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.post_comment_container {
  opacity: 0;
  transition: 0.5s ease opacity;
}

.active {
  opacity: 1;
}

.new_post_body {
  border: 2px solid rgb(237, 242, 246);
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(237, 242, 246);
  outline: none;
  transition: 0.5s;
  margin-right: 5px;
  width: calc(100% - 20px);
}

.new_post_body:focus {
  border: 2px solid rgb(63, 135, 166);
}

.send_new_post {
  margin-top: 15px;
  border: none;
  background-color: rgb(63, 135, 166);
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
}
